- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %p
      = link_to restaurant.name, restaurant_path(restaurant)
- else
  %p No restaurants added yet

%a(href="/restaurants/new") Add a new restaurant